autobahn[twisted,xbr]>=20.7.1
cbor>=1.0.0
flatbuffers>=1.11
numpy==1.15.4
py-multihash>=0.2.3
txaio>=20.4.1

# git+https://github.com/ethereum/web3.py@v5.4.0#egg=web3
web3>=5.11.0

git+https://github.com/crossbario/zlmdb.git@master#egg=zlmdb
# zlmdb>=20.8.1
